<div class="sidebar">
  <h2>Menú SECPLA</h2>
  <a href="/perfil/secpla/"> Inicio</a>
  <a href="/secpla/secpla/crear_direccion/"> Crear Dirección</a>
  <a href="/secpla/secpla/crear_departamento/"> Crear Departamento</a>
  <a href="/secpla/secpla/crear_incidencia/"> Crear Incidencia</a>
  <a href="/secpla/secpla/crear_encuesta/"> Crear Encuesta</a>
  <a href="/secpla/secpla/crear_usuario/"> Crear Usuario</a>
  <a href="/secpla/secpla/ver_usuario/"> Ver Usuarios</a>
  <a href="/secpla/secpla/ver_intentos_recuperacion/"> Recuperaciones</a>
  <a href="/"> Cerrar sesión</a>
</div>