{% extends 'base.html' %}
{% block title %}Incidencias {{ estado }}{% endblock %}

{% block content %}
<h2>Incidencias {{ estado }}</h2>

<table class="user-table">
  <thead>
    <tr>
      <th>#</th><th>Nombre</th><th>Descripción</th><th>Acciones</th>
    </tr>
  </thead>
  <tbody>
    {% for i in incidencias %}
      <tr>
        <td>{{ forloop.counter }}</td>
        <td>{{ i.nombre_incidencia }}</td>
        <td>{{ i.descripcion }}</td>
        <td>
          <a href="/cuadrilla/responder_incidencia/{{ i.id }}/" class="btn">Responder</a>
        </td>
      </tr>
    {% endfor %}
  </tbody>
</table>
{% endblock %}