{% extends 'territorial/base_territorial.html' %}
{% block title %}Detalle de Incidencia{% endblock %}

{% block content %}
<div class="usuario-detalle-card">
    <h2>Detalle de Incidencia</h2>

    <div class="usuario-info">
        <p><strong>Nombre Incidencia:</strong> {{ incidencia.nombre_incidencia }}</p>
        <p><strong>Descripción:</strong> {{ incidencia.descripcion }}</p>
        <p><strong>Dirección:</strong> {{ incidencia.direccion_incidencia.nombre_direccion }}</p>
        <p><strong>Departamento:</strong> {{ incidencia.departamento_incidencia.nombre_departamento }}</p>
        <p><strong>Tipo de Incidencia:</strong> {{ incidencia.tipo_incidencia.nombre|default:"No especificado" }}</p>
        <p><strong>Prioridad:</strong> {{ incidencia.prioridad }}</p>
        <p><strong>Ubicación:</strong> {{ incidencia.ubicacion|default:"No especificada" }}</p>
        <p><strong>Datos del Vecino:</strong> {{ incidencia.datos_vecino|default:"No especificados" }}</p>
        <p><strong>Estado:</strong> 
            {% if incidencia.estado == 'Abierta' %}
                <span class="estado-pendiente">Abierta</span>
            {% elif incidencia.estado == 'Derivada' %}
                <span class="estado-pendiente">Derivada</span>
            {% elif incidencia.estado == 'En proceso' %}
                <span class="estado-pendiente">En proceso</span>
            {% elif incidencia.estado == 'Finalizada' %}
                <span class="estado-activo">Finalizada</span>
            {% elif incidencia.estado == 'Rechazada' %}
                <span class="estado-inactivo">Rechazada</span>
            {% elif incidencia.estado == 'Cerrada' %}
                <span class="estado-activo">Cerrada</span>
            {% endif %}
        </p>
        <p><strong>Fecha Creación:</strong> {{ incidencia.fecha_creacion|date:"d/m/Y H:i" }}</p>
        
        {% if incidencia.imagen %}
        <p><strong>Imagen:</strong></p>
        <div class="imagen-actual">
            <img src="{{ incidencia.imagen.url }}" alt="Imagen de incidencia" class="imagen-evidencia">
        </div>
        {% endif %}
    </div>

    <div class="usuario-acciones">
        <a href="{% url 'dashboard_territorial' %}" class="btn btn-secondary">Volver</a>
        {% if incidencia.estado == 'Abierta' or incidencia.estado == 'Rechazada' %}
            <a href="{% url 'editar_incidencia' incidencia.id %}" class="btn btn-warning">Editar</a>
        {% endif %}
    </div>
</div>
{% endblock %}
