{% extends 'direccion/base_direccion.html' %} 
{% block title %}Dashboard Dirección{% endblock %}

{% block content %}
<div class="dashboard-header">
  <h1>Bienvenido/a, {{ request.session.usuario_activo.nombre }} {{ request.session.usuario_activo.apellido }}</h1>
  <h3>Perfil: {{ request.session.usuario_activo.perfil }}</h3>
  
  {% if error %}
      <div class="alert alert-danger">{{ error }}</div>
  {% elif direccion %}
      <h3>Dirección: {{ direccion.nombre_direccion }}</h3>
  {% endif %}
</div>

<div class="section-container">
  <h2>Resumen de Incidencias</h2>
  <div class="stats-container">
    <div class="card">Abiertas: {{ resumen.abiertas }}</div>
    <div class="card">Derivadas: {{ resumen.derivadas }}</div>
    <div class="card">Rechazadas: {{ resumen.rechazadas }}</div>
    <div class="card">Finalizadas: {{ resumen.finalizadas }}</div>
  </div>
</div>

<div class="section-container">
  <h3>Últimas Incidencias</h3>
  <div class="table-responsive">
    <table class="user-table">
      <thead>
        <tr>
          <th>#</th>
          <th>Nombre</th>
		  <th>Descripción</th>
		  <th>Departamento</th>
		  <th>Creador</th>
		  <th>Prioridad</th>
		  <th>Fecha</th>
		  <th>Estado</th>
        </tr>
      </thead>
  	  <tbody>
	    {% for i in incidencias %}
		  <tr>
		    <td>{{ i.id }}</td>
		    <td>{{ i.nombre_incidencia }}</td>
		    <td>{{ i.descripcion|truncatewords:10 }}</td>
		    <td>{{ i.departamento_incidencia.nombre_departamento }}</td>
		    <td>{{ i.territorial_creador.nombre|default:'N/A' }}</td>
		    <td>{{ i.prioridad }}</td>
		    <td>{{ i.fecha_creacion|date:"d/m/Y" }}</td>
		    <td>
			  {% if i.estado == "Finalizada" or i.estado == "Cerrada" %}
			    <span class="estado-activo">{{ i.get_estado_display }}</span>
			  {% elif i.estado == "Rechazada" %}
			    <span class="estado-inactivo">{{ i.get_estado_display }}</span>
			  {% else %}
			    <span class="estado-pendiente">{{ i.get_estado_display }}</span>
			  {% endif %}
		    </td>
		  </tr>
	    {% empty %}
		  <tr>
		    <td colspan="8" class="text-center">
			  No hay incidencias registradas para esta dirección.
		    </td>
		  </tr>
	    {% endfor %}
	  </tbody>
    </table>
  </div>
  <a href="{% url 'dir_listar_incidencias' %}" class="ver-todo">Ver todo</a>
</div>

{% endblock %}
