{% load static %}
<!DOCTYPE html>
<html lang="es">
<head>
  <meta charset="UTF-8">
  <title>{% block title %}Panel Territorial{% endblock %}</title>
  <link rel="stylesheet" href="{% static 'css/compiled.css' %}">
  {% block extra_styles %}{% endblock %}
</head>
<body class="sidebar-active">
<button id="menu-toggle" class="menu-toggle">☰</button>

<div class="sidebar" id="sidebar-menu">
  <h2></h2>
  <a href="/perfil/territorial/">Inicio</a>
  <a href="{% url 'crear_incidencia' %}">Crear Incidencia</a>
  <a href="{% url 'incidencias_abiertas' %}">Incidencias Abiertas</a>
  <a href="{% url 'incidencias_derivadas' %}">Incidencias Derivadas</a>
  <a href="{% url 'incidencias_proceso' %}">Incidencias en Proceso</a>
  <a href="{% url 'incidencias_rechazadas' %}">Incidencias Rechazadas</a>
  <a href="{% url 'incidencias_finalizadas' %}">Incidencias Finalizadas</a>
  <a href="{% url 'incidencias_cerradas' %}">Incidencias Cerradas</a>
  <a href="{% url 'ver_solicitudes' %}">Todas las Incidencias</a>
  <a href="/" class="logout-link">Cerrar sesión</a>
</div>
<div class="main-content">
  {% block content %}
  {% endblock %}
</div>

<script>
  document.addEventListener('DOMContentLoaded', function () {
    const toggleButton = document.getElementById('menu-toggle');
    const sidebar = document.getElementById('sidebar-menu');

    toggleButton.addEventListener('click', function () {
      if (sidebar.style.left === '0px') {
        sidebar.style.left = '-250px';
      } else {
        sidebar.style.left = '0px';
      }
    });
  });
</script>
</body>
</html>
