{% load static %}
<!DOCTYPE html>
<html lang="es">
<head>
  <meta charset="UTF-8">
  <title>{% block title %}Panel Dirección{% endblock %}</title>
  <link rel="stylesheet" href="{% static 'css/compiled.css' %}">
  {% block extra_styles %}{% endblock %}
</head>
<body>
<!-- Botón del menú -->
<button id="menu-toggle" class="menu-toggle">☰</button>

<div class="sidebar" id="sidebar-menu">
  <h2></h2>
  <a href="/perfil/direccion/">Inicio</a>
  <a href="/secpla/secpla/ver_incidencias_creadas/">Ver Incidencias Creadas</a>  
  <a href="/secpla/secpla/ver_incidencias_pendientes/">Ver Incidencias Pendientes</a>
  <a href="/secpla/secpla/ver_incidencias_derivadas/">Ver Incidencias Derivadas</a>
  <a href="/secpla/secpla/ver_incidencias_rechazadas/">Ver Incidencias Rechazadas</a>
  <a href="/secpla/secpla/ver_incidencias_finalizadas/">Ver Incidencias Finalizadas</a>
  <a href="/" class="logout-link">Cerrar sesión</a>
</div>
<div class="main-content">
  {% block content %}
  {% endblock %}
</div>

<script>
  document.addEventListener('DOMContentLoaded', function () {
    const toggleButton = document.getElementById('menu-toggle');
    const sidebar = document.getElementById('sidebar-menu');

    toggleButton.addEventListener('click', function () {
      if (sidebar.style.left === '0px') {
        sidebar.style.left = '-250px';
      } else {
        sidebar.style.left = '0px';
      }
    });
  });
</script>
</body>
</html>
