{% load static %}
<!DOCTYPE html>
<html lang="es">
<head>
  <meta charset="UTF-8">
  <title>{% block title %}Panel SECPLA{% endblock %}</title>
  <link rel="stylesheet" href="{% static 'css/compiled.css' %}">
  {% block extra_styles %}{% endblock %}
</head>
<body>
<!-- Botón del menú -->
<button id="menu-toggle" class="menu-toggle">☰</button>

<div class="sidebar" id="sidebar-menu">
  <h2></h2>
  <a href="/perfil/secpla/">Inicio</a>
  <a href="/secpla/secpla/crear_direccion/">Crear Dirección</a>
  <a href="/secpla/secpla/crear_departamento/">Crear Departamento</a>
  <!-- <a href="/secpla/secpla/crear_incidencia/">Crear Incidencia</a> -->
  <a href="/secpla/secpla/crear_encuesta/">Crear Encuesta</a>
  <a href="/secpla/crear_usuario/">Crear Usuario</a>
  <a href="/secpla/secpla/ver_usuario/">Ver Usuarios</a>
  <a href="{% url 'listar_encuestas' %}">Ver Encuestas</a>
  <a href="{% url 'listar_incidencias' %}">Ver Incidencias</a>
  <a href="{% url 'listar_departamentos' %}">Ver Departamentos</a>
  <a href="{% url 'listar_direcciones' %}">Ver Direcciones</a>
  <a href="/secpla/ver_intentos_recuperacion/">Recuperaciones de contraseñas</a>
  <a href="/" class="logout-link">Cerrar sesión</a>
</div>

<div class="main-content">
  {% block content %}
  {% endblock %}
</div>

<script>
  document.addEventListener('DOMContentLoaded', function () {
    const toggleButton = document.getElementById('menu-toggle');
    const sidebar = document.getElementById('sidebar-menu');

    toggleButton.addEventListener('click', function () {
      if (sidebar.style.left === '0px') {
        sidebar.style.left = '-250px';
      } else {
        sidebar.style.left = '0px';
      }
    });
  });
</script>
</body>
</html>
