{% extends 'base.html' %}
{% block title %}Incidencias {{ estado }}{% endblock %}

{% block content %}
<h2>Incidencias {{ estado }} asignadas a tu departamento</h2>

<table class="user-table">
  <thead>
    <tr>
      <th>#</th><th>Nombre</th><th>Descripción</th><th>Acciones</th>
    </tr>
  </thead>
  <tbody>
    {% for i in incidencias %}
      <tr>
        <td>{{ forloop.counter }}</td>
        <td>{{ i.nombre_incidencia }}</td>
        <td>{{ i.descripcion }}</td>
        <td>
          <form method="POST" action="/departamento/derivar_incidencia/{{ i.id }}/">
            {% csrf_token %}
            <select name="cuadrilla_id">
              {% for c in cuadrillas %}
                <option value="{{ c.id }}">{{ c.nombre }} {{ c.apellido }}</option>
              {% endfor %}
            </select>
            <button type="submit">Derivar</button>
          </form>
        </td>
      </tr>
    {% endfor %}
  </tbody>
</table>
{% endblock %}