{% extends 'base_secpla.html' %}
{% block title %}Listado de Encuestas{% endblock %}

{% block content %}
<h2>Listado de Encuestas</h2>
<a href="{% url 'crear_encuesta' %}" class="btn">Crear nueva Encuesta</a>

<table class="user-table">
  <thead>
    <tr>
      <th>#</th>
      <th>Nombre</th>
      <th>Ubicación</th>
      <th>Prioridad</th>
      <th>Acciones</th>
    </tr>
  </thead>
  <tbody>
    {% for e in encuestas %}
      <tr>
        <td>{{ forloop.counter }}</td>
        <td>
          {{ e.nombre_encuesta }}<br>
          {% if e.imagen %}
            <img src="{{ e.imagen.url }}" alt="Imagen de encuesta" width="150">
          {% else %}
            <p>Sin imagen</p>
          {% endif %}
        </td>
        <td>{{ e.ubicacion }}</td>
        <td>{{ e.prioridad }}</td>
        <td>
          <a href="{% url 'ver_encuesta' e.id %}">Ver</a> |
          {% if e.categoria == 'Bloqueada' %}
            <a href="{% url 'editar_encuesta' e.id %}">Editar</a> |
            <form method="post" action="{% url 'activar_encuesta' e.id %}" style="display:inline;">
              {% csrf_token %}
              <button type="submit" class="btn btn-success btn-sm">Activar</button>
            </form>
          {% elif e.categoria == 'Vigente' %}
            <form method="post" action="{% url 'bloquear_encuesta' e.id %}" style="display:inline;">
              {% csrf_token %}
              <button type="submit" class="btn btn-warning btn-sm">Bloquear</button>
            </form>
          {% endif %}
        </td>
      </tr>
    {% empty %}
      <tr><td colspan="5">No hay encuestas registradas.</td></tr>
    {% endfor %}
  </tbody>
</table>

<a href="{% url 'vista_secpla' %}" class="ver-todo">⬅️ Volver al panel principal</a>
{% endblock %}