{% extends 'base_secpla.html' %}
{% block title %}Listado de Incidencias{% endblock %}

{% block content %}
<h2>Listado de Incidencias</h2>
<a href="{% url 'crear_incidencia' %}" class="btn">Crear nueva Incidencia</a>

<table class="user-table">
  <thead>
    <tr>
      <th>#</th>
      <th>Nombre</th>
      <th>Descripción</th>
      <th>Dirección</th>
      <th>Departamento</th>
      <th>Estado</th>
      <th>Acciones</th>
    </tr>
  </thead>
  <tbody>
    {% for i in incidencias %}
      <tr>
        <td>{{ forloop.counter }}</td>
        <td>{{ i.nombre_incidencia }}</td>
        <td>{{ i.descripcion }}</td>
        <td>{{ i.direccion_incidencia.nombre_direccion }}</td>
        <td>{{ i.departamento_incidencia.nombre_departamento }}</td>
        <td>
          {% if i.estado == "Activo" %}
            <span class="estado-activo">🟢 Activo</span>
          {% else %}
            <span class="estado-inactivo">🔴 Inactivo</span>
          {% endif %}
        </td>
        <td>
          <a href="{% url 'ver_incidencia' i.id %}">Ver</a> |
          <a href="{% url 'editar_incidencia' i.id %}">Editar</a> |
          {% if i.estado == "Activo" %}
            <a href="{% url 'bloquear_incidencia' i.id %}">Bloquear</a>
          {% else %}
            <a href="{% url 'activar_incidencia' i.id %}">Activar</a>
          {% endif %}
        </td>
      </tr>
    {% empty %}
      <tr><td colspan="7">No hay incidencias registradas.</td></tr>
    {% endfor %}
  </tbody>
</table>

<a href="{% url 'vista_secpla' %}" class="ver-todo">⬅️ Volver al panel principal</a>
{% endblock %}