{% extends 'departamento/base_departamento.html' %}
{% block title %}Dashboard Departamento{% endblock %}

{% block content %}
<div class="dashboard-header">
  <h1>Bienvenido/a, {{ request.session.usuario_activo.nombre }} {{ request.session.usuario_activo.apellido }}</h1>
  
  {% if error %}
      <h3 class="advertencia" style="color: #ffc107;">{{ error }}</h3>
  {% elif departamento %}
      <h3>Departamento: {{ departamento.nombre_departamento }}</h3>
  {% endif %}
</div>

<div class="section-container">
  <h2>Resumen de Incidencias</h2>
  <div class="stats-container">
    <div class="card">Pendientes: {{ resumen.pendientes }}</div>
    <div class="card">Derivadas: {{ resumen.derivadas }}</div>
    <div class="card">Rechazadas: {{ resumen.rechazadas }}</div>
    <div class="card">Finalizadas: {{ resumen.finalizadas }}</div>
  </div>
</div>

<div class="section-container">
  <div class="section-header">
    <h2>Últimas incidencias</h2>
  </div>

  <div class="table-responsive">
    <table class="user-table">
      <thead>
        <tr>
          <th>#</th>
          <th>Nombre</th>
          <th>Creador</th>
          <th>Prioridad</th>
          <th>Estado</th>
        </tr>
      </thead>
	  <tbody>
	    {% for i in incidencias %}
		  <tr>
		    <td>{{ i.id }}</td>
		    <td>{{ i.nombre_incidencia }}</td>
		    <td>{{ i.territorial_creador.nombre|default:'N/A' }}</td>
		    <td>{{ i.get_prioridad_display }}</td>
		    <td>
			  {% if i.estado == "Finalizada" or i.estado == "Cerrada" %}
			    <span class="estado-activo">{{ i.estado }}</span>
			  {% elif i.estado == "Rechazada" %}
			    <span class="estado-inactivo">{{ i.estado }}</span>
			  {% else %}
			    <span class="estado-pendiente">{{ i.estado }}</span>
			  {% endif %}
		    </td>
		  </tr>
	    {% empty %}
		  <tr><td colspan="6">No hay incidencias registradas.</td></tr>
	    {% endfor %}
	  </tbody>
    </table>
  </div>

  <div class="section-footer">
    <a href="{% url 'dep_listar_incidencias' %}" style="color: #007bff; text-decoration: none; font-weight: bold;">Ver todo</a>
  </div>
</div>

{% endblock %}
