{% extends 'departamento/base_departamento.html' %} 
{% block title %}Dashboard Departamento{% endblock %}

{% block content %}
<div class="dashboard-header">
  <h1>Bienvenido/a, {{ request.session.usuario_activo.nombre }} {{ request.session.usuario_activo.apellido }}</h1>
  
  {% if error %}
      <h3 class="advertencia" style="color: #ffc107;">{{ error }}</h3>
  {% elif departamento %}
      <h3>Departamento: {{ departamento.nombre_departamento }}</h3>
  {% endif %}
</div>

<div class="section-container">
  <h2>Resumen de Incidencias</h2>
  <div class="stats-container">
    <div class="card">Pendientes: {{ resumen.pendientes }}</div>
    <div class="card">Derivadas: {{ resumen.derivadas }}</div>
    <div class="card">Rechazadas: {{ resumen.rechazadas }}</div>
    <div class="card">Finalizadas: {{ resumen.finalizadas }}</div>
  </div>
</div>

{% endblock %}